.control, .form {
    margin-bottom: 0.5rem;
}

.control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    color: white;
}

.control input,
.control textarea {
    font: inherit;
    padding: 0.35rem;
    border-radius: 4px;
    background-color: #f0f0f0;
    border: 1px solid #c1d1d1;
    display: block;
    width: 100%;
    font-size: 1.25rem;
    resize: none;
}

.control input:focus,
.control textarea:focus {
    background-color: #ffeaea;
    outline-color: #2a1313;
}

.actions {
    text-align: right;
}

.import {
    display: flex;
    justify-content: flex-end;
}

.import input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.import label {
    padding: 0 8px ;
    color: white;
    border-bottom: 2px solid white;
    cursor: pointer;
}
