.form {
    margin-bottom: 0.5rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.import {
    display: flex;
    justify-content: flex-end;
}

.import input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.import label {
    padding: 0 8px ;
    color: white;
    border-bottom: 2px solid white;
    cursor: pointer;
}
