.control, .form {
    margin-bottom: 0.5rem;
}

.control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    color: white;
}

.control.error input,
.control.error textarea {
    background-color: #faa7a7 !important;
    outline-color: #750b0b !important;
    border: 2px solid #faabab;
}

.control input,
.control textarea {
    font: inherit;
    padding: 0.35rem;
    border-radius: 4px;
    background-color: #f0f0f0;
    border: 1px solid #c1d1d1;
    display: block;
    width: 100%;
    font-size: 1.25rem;
    resize: none;
}

.control input:focus,
.control textarea:focus {
    background-color: #ffeaea;
    outline-color: #2a1313;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.btn {
    color: white;
    text-align: center;
    cursor: pointer;
}
