.form {
    margin-bottom: 0.5rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.btn {
    color: white;
    text-align: center;
    cursor: pointer;
}
